
@import '../../style.scss';

.table{
    
    padding: 5%;
    width: 100%;


}
.table__name,
.table__words
{
    display: flex;
    justify-content: space-between;
    border: $borderColor;
    padding: 3%;
    font-size: $fontSize ;

}
.table__name{
    background-color: $colorFonTabl1;
    color:$colorWhite ;

}

.section__table{
    display: flex;
    justify-content: space-around;
}

.section__cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}